{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "endOfLine": "crlf",
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-tailwind-styled-components", "prettier-plugin-prisma"],
  "pluginSearchDirs": false,
  "tailwindFunctions": ["clsx", "cva", "cn"],
  "tailwindConfig": "./tailwind.config.ts"
}
